<div id="header">
  <h1>Surveys, Surveys, Surveys!</h1>
  <h2>Luxury Surveys at Discount Prices</h2>
</div>
<br>
<h4>Are you a:</h4>
  <div class="row">
    <div class="col-4">
      <h4><span id="surveyAdmin">Survey Administrator</span></h4>
    </div>
    <div class="col-4">
      <h4>Survey Taker</h4>
    </div>
  </div>


<% if @surveys.any? %>
  <ul>
    <% @surveys.each do |survey| %>
      <li><%= link_to survey.name, survey_path(survey) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No surveys have been created yet!</p>
<% end %>

<p><%= link_to "Make a Survey", new_survey_path %></p>


<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
